body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  cursor: pointer;
}

.container {
  margin-top: 20px;
}

.input {
  width: 300px;
  height: 30px;
  padding: 4px 8px;
  font-size: 15px;
  border: solid 1px black;
  outline: none;
}

.save-button,
.delete-all-button {
  margin-left: 10px;
  height: 40px;
  padding: 4px 8px;
  color: black;
  font-size: 15px;
  font-weight: 600;
  border: none;
  border-radius: 3px;
}

.save-button {
  width: 70px;
  background-color: rgb(40, 163, 40);
}

.delete-all-button {
  width: 100px;
  background-color: rgb(215, 47, 47);
}

.prompts-container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px black;
  padding: 20px 20px;
  border-radius: 4px;
}

.prompt-content {
  font-size: 18px;
  font-weight: 500;
  width: 350px;
}

.delete-button {
  background-color: rgb(240, 58, 58);
  color: black;
  width: 70px;
  height: 25px;
  padding: 4px 8px;
  border: none;
  border-radius: 3px;
}