.create-board-button {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background-color: rgb(99, 99, 215);
  color: white;
  font-size: 14px;
  font-weight:400;
  padding: 10px 12px;
  border: none;
  border-radius: 7px;
}